*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

}



body{

background:#f4f6f9;

}



.container{

display:flex;
min-height:100vh;

}



.sidebar{

width:260px;
background:#1e293b;
color:white;
padding:20px;

}



.sidebar h2{

text-align:center;
margin-bottom:30px;

}



.sidebar ul{

list-style:none;

}



.sidebar li{

padding:15px;
margin:8px 0;
border-radius:8px;
cursor:pointer;

}



.sidebar li:hover,
.sidebar .active{

background:#2563eb;

}



.sidebar a{

color:white;
text-decoration:none;

}




.main{

flex:1;
padding:25px;

}



header{

display:flex;
justify-content:space-between;
margin-bottom:30px;

}



header h1{

color:#1e293b;

}





.top-section{

display:flex;
justify-content:space-between;
margin-bottom:25px;

}




.add-btn{

background:#2563eb;
color:white;
border:none;
padding:12px 20px;
border-radius:8px;
cursor:pointer;

}





.filters input,
.filters select{

padding:12px;
border:1px solid #ccc;
border-radius:8px;
margin-left:10px;

}





.table-box{

background:white;
padding:20px;
border-radius:12px;

}




table{

width:100%;
border-collapse:collapse;

}



th{

background:#1e293b;
color:white;
padding:15px;

}



td{

padding:15px;
border-bottom:1px solid #ddd;

}




span{

padding:6px 12px;
border-radius:20px;
color:white;

}



.available{

background:#22c55e;

}



.low{

background:#ef4444;

}





button{

border:none;
padding:8px 12px;
border-radius:5px;
cursor:pointer;

}



.update{

background:#8b5cf6;
color:white;

}



.edit{

background:#f59e0b;
color:white;

}



.delete{

background:#dc2626;
color:white;

}