*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

}



body{

background:#f5f7fb;

}



.project-container{

padding:30px;

}




.page-header{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;

}



.page-header h1{

color:#1e293b;

}



.page-header button{

background:#2563eb;
color:white;
border:none;
padding:12px 20px;
border-radius:8px;
cursor:pointer;

}




.project-list{

display:flex;
flex-direction:column;
gap:20px;

}



.project-card{

background:white;
padding:25px;
border-radius:12px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 5px 15px rgba(0,0,0,0.08);

}




.project-info h2{

color:#1e293b;
margin-bottom:12px;

}



.project-info p{

color:#64748b;
margin:7px 0;

}



.active{

color:green;
font-weight:bold;

}



.pending{

color:#f59e0b;
font-weight:bold;

}



.view-btn{

background:#0f172a;
color:white;
padding:10px 18px;
border:none;
border-radius:8px;
cursor:pointer;

}





.assign-form{

display:none;
margin-top:30px;
background:white;
padding:25px;
border-radius:12px;

}



.assign-form h2{

margin-bottom:20px;
color:#1e293b;

}



.assign-form input{

width:100%;
padding:12px;
margin-bottom:15px;
border:1px solid #cbd5e1;
border-radius:8px;

}



.assign-form button{

background:#16a34a;
color:white;
border:none;
padding:12px 25px;
border-radius:8px;
cursor:pointer;

}





@media(max-width:700px){


.project-card{

flex-direction:column;
gap:20px;
align-items:flex-start;

}


.page-header{

flex-direction:column;
gap:15px;

}


}