*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{

    background:#f4f6f9;

}



.container{

    display:flex;
    min-height:100vh;

}



/* Sidebar */


.sidebar{

    width:260px;
    background:#1e293b;
    color:white;
    padding:20px;

}



.sidebar h2{

    text-align:center;
    margin-bottom:30px;

}



.sidebar ul{

    list-style:none;

}



.sidebar li{

    padding:15px;
    margin:8px 0;
    border-radius:8px;
    cursor:pointer;

}



.sidebar li:hover,
.sidebar .active{

    background:#2563eb;

}



.sidebar a{

    color:white;
    text-decoration:none;

}




/* Main */


.main{

    flex:1;
    padding:25px;

}



header{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;

}



header h1{

    color:#1e293b;

}



/* Top section */


.top-section{

    display:flex;
    justify-content:space-between;
    margin-bottom:20px;

}



.add-btn{

    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;

}



.filters input,
.filters select{

    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
    margin-left:10px;

}



/* Table */


.table-container{

    background:white;
    padding:20px;
    border-radius:12px;

}



table{

    width:100%;
    border-collapse:collapse;

}



th{

    background:#1e293b;
    color:white;
    padding:15px;

}



td{

    padding:15px;
    border-bottom:1px solid #ddd;

}



.active-status{

    background:#22c55e;
    color:white;
    padding:5px 12px;
    border-radius:20px;

}



.inactive-status{

    background:#ef4444;
    color:white;
    padding:5px 12px;
    border-radius:20px;

}



button{

    padding:8px 12px;
    border:none;
    border-radius:5px;
    cursor:pointer;

}



.edit{

    background:#f59e0b;
    color:white;

}



.delete{

    background:#dc2626;
    color:white;

}